ticker-card:hover {
    cursor: pointer;
}

.dashboard__central {
    display: flex;
    gap: 2rem;
    margin-top: 1rem;
}

.dashboard__central > div {
    flex: 1;
}

@media (max-width: 768px) {
    .dashboard__central {
        flex-direction: column;
        gap: 1rem;
    }

    .dashboard__central > div {
        width: 100%;
    }
}
